 <nav class="navbar sticky-top navbar-expand-lg navbar-expand-lg-home navbar-dark bg-dark">
  <a class="navbar-brand home" href="/post">.pickle</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
     </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav navbar-nav-animation navbar-nav-home"> 
                <li class="nav-item">
                  <a class="nav-link" href="/post/new">New Post</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/username">Users</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/username/new">Add Users</a>
                </li>
              </ul>
            </div>
          </nav>