.navbar-brand {
    font-weight: 700;
    font-size: 28px;
    background: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);
    background: linear-gradient(to right, #F8FFAE, #43C6AC); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: .7s ease-out 0s 1 slideInFromTop;
}

.navbar-nav {
    animation: .7s ease-out 0s 1 slideInFromTop;
}

.navbar-expand-lg {
    animation: .3s ease-out 0s 1 slideInFromTop;
}


@keyframes logoFadein {
    from { opacity: 0; }
    to   { opacity: 1; }
    }
    
@keyframes slideInFromTop {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }


.container {
    -webkit-animation: fadein 1s;
    animation: fadein 1s;
}

@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

.btn {
    margin: 5px;
    float: right;
}

.btn-home {
    margin: 5px;
    float: left;
}

.nav-link {
    font-weight: 200;
    font-size: 16px;
}

a {
    font-weight: 600;
    font-size: 24px;
    color: #60A68C;
}

h2 {
    font-weight: 600;
    font-size: 24px;
    color: #60A68C;  
}

.date {
    font-weight: 200;
    font-size: 15px;
    color: #343A40;
}

.img-fluid {
    height: auto;
    width: 100%;
    padding: 10px 0px;
}

.username-index {
    font-weight: 700;
    font-size: 16px;
    color: #353C40;
    font-style: italic;
}

.title-post:hover {
    color: black;
    text-decoration: none;
}

.show-img-container{
  width: 100%;
  height: 120px;
  overflow: hidden;
  position: relative;
}

.show-pg-image {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}