.navbar-brand {
    font-weight: 700;
    font-size: 28px;
    background: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);
    background: linear-gradient(to right, #F8FFAE, #43C6AC); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.body {
    -webkit-animation: fadein 1s;
    animation: fadein 1s;
}

@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

html {
    animation: 1s linear 1s slidein;
}


.btn {
    margin: 5px;
}
.nav-link {
    font-weight: 200;
    font-size: 16px;
}

a {
    font-weight: 600;
    font-size: 24px;
    color: #60A68C;
}

.date {
    font-weight: 200;
    font-size: 15px;
    color: #343A40;
}

.img-fluid {
    height: auto;
    width: 100%;
    padding: 10px 0px;
}

.username-index {
    font-weight: 700;
    font-size: 16px;
    color: #353C40;
    font-style: italic;
}

.text-show-container {

}


.show-img-container{
  width: 100%;
  height: 120px;
  overflow: hidden;
  position: relative;
}

.show-pg-image {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}